version: '3.8'

services:
  weaviate:
    image: semitechnologies/weaviate:1.24.7
    ports:
      - "8081:8080"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'text2vec-openai'
      ENABLE_MODULES: 'text2vec-openai'
      CLUSTER_HOSTNAME: 'node1'
    volumes:
      - weaviate_data:/var/lib/weaviate

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --maxmemory 512mb --maxmemory-policy allkeys-lru --activedefrag yes --lazyfree-lazy-eviction yes --lazyfree-lazy-expire yes --lazyfree-lazy-server-del yes --io-threads 4 --io-threads-do-reads yes
    sysctls:
      - net.core.somaxconn=65535
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  backend:
    build: .
    ports:
      - "8080:5000"
    environment:
      - FLASK_ENV=development
      - WEAVIATE_URL=http://weaviate:8080
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - REACT_APP_API_URL=http://ragzy.duckdns.org:8080
    volumes:
      - ./app:/app/app
      - ./run.py:/app/run.py
      - ./.env:/app/.env
      - ./client_secret.json:/app/client_secret.json
    depends_on:
      - weaviate
      - redis
    env_file:
      - .env

volumes:
  weaviate_data:
  redis_data:
